@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Permanent+Marker&display=swap');

body {
    font-family: 'Kalam', 'permanent marker', sans-serif;
}
/* Header Styles */
header {
    display: grid;
    grid-template-rows: auto 50px;
    font-family: 'permanent marker';
    background-color: #8ac926;
    color: #070707;
}

/* Top Navagation Bar Styles */
.nav-bar {
    background-color: #473198;
    text-align: justify;
    font-family: "permanent marker", sans-serif;
    font-weight: 500;
    font-size: large;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar ul {
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-right: 1rem;
}

nav li {
    padding-top: 0.7rem;
}
nav a {
    /* flex: 1 1 auto; */
    /* display: flex; */
    list-style-type: none;
    justify-content: space-around;
    color: #FCFCFC;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

nav a:hover {
    text-decoration: overline;
}
/* Main Styles */
main {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #FCFCFC;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    unicode-bidi: isolate;
}

.main-section {
    padding: 20px;
    text-align: left;
    /* display: grid; */
    /* grid-template-columns: 1 / 4; */
    grid-column: 1 /2;
}

.main-section p {
    text-align: left;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.about-me {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-column: 2 /3;
    text-align: left; */
}

.about-me p {
    padding: 20px;
}

.place {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.city {
    padding-left: 20px;
}

/* @media (max-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 80% 2%;
    }
} */

img {
    /* display: block;
    margin-left: auto; */
    border-radius: 15px;
    /* overflow-clip-margin: content-box;
    overflow: clip; */
}

h1 {
    display: block;
    text-align: center;
    font-size: 2rem;
}

h2 {
    margin: 0;
    /* display: block; */
    /* text-decoration: underline; */
    /* text-align: center; */
    /* font-size: 2rem; */
    /* margin: 0; */
}

h3 {
    display: block;
    font-size: 2rem;
    text-align: center;
    color: #070707;
}

hr {
    width: 70%;
    margin: 0 auto;
}
/* Card Styles show correct as of 6:02 on 05-04-24 */
.card {
    flex: 1 1;
    background-color: #FCFCFC;
    border-radius: 30px;
    border: #070707 1px solid;
    margin: 1rem;
}

.card li {
    padding: 1rem;
    text-align: justify;
    text-decoration-color: #070707;
}

.aside-section {
    padding: 20px;
    border: 2px #070707;
    border-radius: 30px;
    /* display: grid;
    grid-template-columns: auto; */
}

.card h2 {
    display: grid;
    text-align: center;
    background-color: #8ac926;
    padding: 1rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

/* Image Styles */
.card img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    margin: 15px;
  }

  /* p {
    padding: 0.5rem;
    margin: 0;
  } */

/* Footer Styles shows correct at of 05-04-24*/
footer {
    grid-column: 1 / 7;
    grid-row: auto;
    padding: 1rem;
    background-color: #8ac926;
    color: #070707;
    text-align: center;
    font-size: 2rem;
    font-family: 'kalam';
}