@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poetsen+One&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    margin: auto;
    height: 100%;
}

header {
    background-color: #593C8F;
    color: #FFF9FB;
    text-align: center;
    padding-top: 1px;
    /* color: #95C623; */
    /* text-decoration-color: #FFF9FB; */
}

header h1 {
    padding: 20px;
}

.spacer {
    height: 20px;
    background-color: greenyellow;
}

.main-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
}

.data, .weather {
    display: grid;
    padding: 20px;
}

.data-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.small-spacer {
    height: 20px;
    background-color: greenyellow;
}
footer {
    background-color: #593C8F;
    color: #FFF9FB;
    text-align: center;
    padding-top: 1px;
}

@media screen and (min-width: 750px) {
    body {
        position: relative;
    }

    .data {
        position: absolute;
        top: 25%;
        left: 4%;
        background-color: transparent;
        display: block;
        padding-right: 40px;
    }

    .data h2 {
        background-color: whitesmoke;
        color: #070707;
        text-align: left;
        padding: 15px;
        padding-left: 20px;
        margin-left: -30px;
        margin-top: -15px;
    }

    .data-item {
        margin: -25px;
    }

    .weather {
        position: absolute;
        right: 20px;
        bottom: 115px;
        width: 325px;
        background-color: var(white);
    }
}