@media screen and (min-width: 690px) {
    body {
        font-family: 'Times New Roman', Times, serif;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

	nav {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}

    main {
        margin: 1rem auto;
    }

    h2 {
        font-size: 1.2rem;
        text-align: center;
    }
}