* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    display: block;
}

header {
    display: grid;
    grid-gap: 1rem;
    background-color: blueviolet;
    color: black;
    padding: 10px;
}

header h1 {
    grid-column: 1 / 2;
    font-family: "Times New Roman";
    font-size: 2.5rem;
    padding-top: 0.7rem;
}

#menu {
    /* display: block; */
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding: .6rem .8rem;   
}

#menu.show::before {
    content: 'X';
}

#menu::before {
	content: "☰";
}

button {
    appearance: auto;
}

nav {
    /* display: flex; */
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-color: black;
    font-size: 1.5rem;
    width: 100%;
}

nav a:hover {
	text-decoration: underline double;
}

/* .active {
	color: yellow;
} */

main {
    display: block;
    margin: 1rem auto;
    padding: 25px;
    unicode-bidi: isolate;
}

h2 {
    margin: 1rem;
    color: indigo;
    display: block;
    font-size: 2em;
    font-weight: bold;
    padding: 0;
    box-sizing: border-box;
    unicode-bidi: isolate;
}

div {
    unicode-bidi: isolate;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 20px;
    margin: 0;
}

.image-container {
    place-items: center;
    padding: 0 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
figure {
    background-color: white;
}

footer {
    display: grid;
    justify-content: center;
    background-color: blueviolet;
    color: black;
    padding: 30px;
    font-size: 1.5em;
    width: 100%;
}