* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
}

header {
    display: grid;
    grid-gap: 1rem;
    background-color: darkmagenta;
    padding: 10px;
}

#menu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: black;   
}

button {
    appearance: auto;
}

nav {
    text-decoration-color: black;
}

nav {
    display: flex;
    background-color: darkmagenta;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    flex-direction: column;
}

nav a:hover {
	text-decoration: underline double;
}

.active {
	color: yellow;
}

main {
    display: block;
}

h2 {
    margin: 1rem;
    color: indigo;
    display: block;
    padding: 0;
    box-sizing: border-box;
}

figure {
    background-color: white;
}

footer {
    text-align: center;
    background-color: darkmagenta;
    padding: 30px;
    font-size: 30px;
    display: block;
}