@media screen and (min-width: 640px) {
    body {
        font-family: 'Times New Roman', Times, serif;
    }

    header {
        display: grid;
        grid-gap: 1rem;
        padding: 15px;
        background-color: blueviolet;
    }

    h1 {
        display: block;
    }

    #menu {
        display: none;
    }

	nav {
        display: flex;
        grid-column: 2 / 3;
		justify-content: space-around;
		flex-direction: row;
        align-items: center;
	}
	nav a {
		flex: 1 1 100%;
	}

    main {
        margin: 1rem auto;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    .image-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
    }
}