* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Times New Roman', sans-serif;
}

body {
    /* display: block; */
    max-width: 900px;
    margin: 0 auto;
    background-color: #FCFCFC;
}

header {
    display: grid;
    grid-gap: 1rem;
    background-color: blueviolet;
    /* box-shadow: var(--box-shadow); */
    color: black;
    /* margin: 20px auto; */
    padding: 15px;
}

header .navigation {
    /* display: block; */
    text-align: center;
    min-height: 70px;
    /* padding: 0px 0px; */
    border-bottom: 1px solid blueviolet;
}

/* header .navigation .title-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    border-bottom: blueviolet;
} */

/* header .navbar .hamburger {
    cursor: pointer;
}

header .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
} */

header h1 {
    grid-column: 1 / 2;
    font-family: "Times New Roman";
    font-size: 2.5rem;
    padding-top: 0.6rem;
}

#menu {
    /* display: block; */
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding: .6rem .75rem;   
}

#menu.show::before {
    content: 'X';
}

#menu::before {
	content: "☰";
}

.show a {
    display: block;
}

button {
    appearance: auto;
}

nav {
    display: flex;
    background-color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    /* color: #FCFCFC; */
    text-decoration-color: #0d0a0a;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #FCFCFC;
}

nav a:hover {
	text-decoration: underline double;
}

/* .active {
	color: yellow;
} */

main {
    display: block;
    margin: 1rem auto;
    padding: 25px;
    unicode-bidi: isolate;
}

h2 {
    margin: 1rem;
    color: blueviolet;
    display: block;
    font-size: 5rem;
    font-weight: bold;
    padding: 0;
    box-sizing: border-box;
    unicode-bidi: isolate;
}

div {
    unicode-bidi: isolate;
}

.img-container {
    /* display: grid; */
    place-items: center;
    padding: 0 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
figure {
    background-color: #FCFCFC;
}

footer {
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: blueviolet;
    color: black;
    padding: 30px;
    font-size: 1.5em;
    width: 100%;
}