body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 2rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: lightskyblue;
}

h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}